@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Ultra&family=Slabo+27px&display=swap');

@layer base {
:root {
  --color-fill: 240, 248, 255; /* Alice Blue */
  --color-text-base: 34, 32, 52; /* Gunmetal */
  --color-accent: 218, 112, 214; /* Orchid */
  --color-card: 255, 235, 205; /* Blanched Almond */
  --color-card-muted: 222, 184, 135; /* Burlywood */
  --color-border: 128, 0, 128; /* Purple */
}

.dark {
  --color-fill: 18, 18, 18; /* Very Dark Gray */
  --color-text-base: 255, 255, 240; /* Ivory */
  --color-accent: 255, 69, 0; /* Red-Orange */
  --color-card: 72, 61, 139; /* Dark Slate Blue */
  --color-card-muted: 85, 107, 47; /* Dark Olive Green */
  --color-border: 255, 140, 0; /* Dark Orange */
}

html {
  @apply scroll-smooth;
}

body {
  @apply flex min-h-screen flex-col bg-skin-fill font-mono text-skin-base 
  selection:bg-skin-accent selection:bg-opacity-70 selection:text-skin-inverted;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-sans text-skin-accent;
}
}

@layer components {
  .btn {
    @apply inline-block px-6 py-2 border border-skin-accent text-skin-accent rounded hover:bg-skin-accent hover:text-skin-inverted transition-colors duration-200;
  }
}
